<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                          http://www.springframework.org/schema/context
                          http://www.springframework.org/schema/context/spring-context-4.1.xsd
                          http://www.springframework.org/schema/aop
                          http://www.springframework.org/schema/aop/spring-aop-4.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- ############################################################################# -->
    <!-- ############################################################################# -->
    <!-- ################################AOP Definition############################## -->
    <!-- ############################################################################# -->
    <!-- ############################################################################# -->
    <aop:aspectj-autoproxy/>

    <!-- ############################################################################# -->
    <!-- ############################################################################# -->
    <!-- ################################Base Definition############################## -->
    <!-- ############################################################################# -->
    <!-- ############################################################################# -->
    <context:annotation-config/>

    <context:component-scan base-package="com.appStore" use-default-filters="true"/>

    <context:property-placeholder
            location="classpath*:app.properties"
            system-properties-mode="FALLBACK"
            ignore-unresolvable="true"
            ignore-resource-not-found="false"
            file-encoding="UTF-8"
            local-override="false"/>



    <!--通用线程池，作为所有异步调用的线程入口-->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!--核心线程数：默认为1，一般为CPU的倍数-->
        <property name="corePoolSize" value="4"/>
        <!--任务队列：默认为Int.MAX,-->
        <property name="queueCapacity" value="10"/>
        <!--最大线程数：当队列占满后，开始增加线程数，直到扩展到最大线程数-->
        <property name="maxPoolSize" value="8"/>
        <property name="keepAliveSeconds" value="60"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor.DiscardPolicy"/>
        </property>
        <property name="threadNamePrefix" value="${threadPrefix}"/>
        <property name="threadGroupName" value="${threadName}"/>
        <property name="awaitTerminationSeconds" value="3600"/>
        <property name="allowCoreThreadTimeOut" value="true"/><!--配合keepAliveSeconds一起使用-->
        <property name="waitForTasksToCompleteOnShutdown" value="true"/>
    </bean>


    <!--开启这个配置，spring才能识别@Scheduled注解   -->
    <task:scheduler id="qbScheduler" pool-size="10"/>
    <task:annotation-driven scheduler="qbScheduler" mode="proxy"/>

    <import resource="classpath:applicationContext-jdbc.xml" />
    <import resource="classpath:applicationContext-mvc.xml" />


</beans>
